@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

.logdiv {
    position: relative;
    top: 25vh;
    left: 35vw;
}

.formel {
    line-height: 1.5rem;
    margin-bottom: 5px;
    padding: 1vh;
    width: 35vw;
    font-size: 3vh;
    background: #333;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    border-radius: 10px;
    border: none;
    height: 8vh;
}

.name {
    margin: 2vw;
    font-size: 1.4em;
    color: black;
    font-weight: 700;
}

.maindiv {
    width: 100vw;
    height: 100vh;
    text-align: center;
    /* padding-top: 30vh; */
}

.image {
    background: url('./undraw_empty_cart_co35.svg');
    /* filter: grayscale(); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.subdiv {
    position: absolute;
    background: white;
    height: 100vh;
    width: 50vw;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.icon1 {
    height: 6vh;
    width: 2.8vw;
    background: url('./login-square-arrow-button-outline.svg');
    background-size: contain;
    position: absolute;
    top: 75vh;
    left: 12vw;

}

.icon2 {
    height: 6vh;
    width: 2.8vw;
    background: url('./user.svg');
    background-size: contain;
    position: absolute;
    top: 58vh;
    left: 12vw;

}

.subbtn {
    border-radius: 9px;
    width: 15vw;
    height: 8vh;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    margin-top: 8vh;
    border: none;
    background: #333;
    font-size: 1em;
}