@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

.Main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background: url('./32280224-doodle-food-icons-seamless-background.jpg');
    text-align: center;
    color: #d4c7ab;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
}

.right {
    flex: 6;
    text-align: center;
    border-radius: 15px;
    color: black;
    font-family: 'Poppins', sans-serif;
    font-weight: 00;
    font-size: 1em;
    border-bottom: 2px solid #d4c7ab;
}

.title {
    padding-top: 2vh;
    color: whitesmoke;
}

.left {
    flex: 6;
    text-align: center;
    color: black;
    border-right: 5px solid #202020;
}

.quediv {
    background: #202020;
    width: 50vw;
    height: 10vh;
}

.notdiv {
    background: #202020;
    width: 50vw;
    height: 10vh;
}