@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');


.weldiv {
    /* background: linear-gradient(to right, #8e0e00, #1f1c18); */
    background: url('./32280224-doodle-food-icons-seamless-background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* width: 100%; */
    height: 100vh;
    text-align: center;
    padding-top: 30vh;
    overflow: hidden;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.cont {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #202020;
    /* background: transparent; */
    width: 90vw;
    height: 60vh;
    border-radius: 30px;
    padding: 8vw;
    /* box-shadow: 5px 10px rgb(58, 53, 53); */
}

.welcm {
    font-size: 4em;
}

button::after {
    opacity: 0;
    transition: all 0.8s;
}

.bgimg {
    background: url('./32280224-doodle-food-icons-seamless-background.jpg');
    /* min-width: 100vw;
    min-height: 100vh; */
    ;
}

.welbut1 {
    border-radius: 15px;
    width: 15vw;
    height: 8vh;
    color: whitesmoke;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 8vh;
    cursor: pointer;
    background: black;
    font-size: 1.5em;
    letter-spacing: 2px;
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

.welbut2 {
    border-radius: 15px;
    width: 15vw;
    height: 8vh;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: whitesmoke;
    font-size: 1.5em;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-top: 8vh;
    border: none;
    background: black;
    border-radius: 15px;
    box-shadow: 0 4px #999;
}

button:active {
    /* background-color: ; */
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}