.weldiv {
    position: relative;
    top: 25vh;
    left: 35vw;
}

.welbut1 {
    position: absolute;
    top: 95%;
    left: 19%;
    margin: 5px;
    align-content: space-between;
}

.welbut2 {
    position: absolute;
    top: 95%;
    left: 5%;
    margin: 5px;
    align-content: space-between;

}